<div class="card-container">
    <img [src]="drink.imageUrl" class="card-image" alt="{{drink.name}}"/>
    <div class="card-content">
        <div class="card-header">
            <a href="#" class="card-name" routerLink="/drink/{{drink.id}}">{{drink.name}}</a>
            <p [class]="drink.isAlcoholic ? 'is-alcoholic' : 'non-alcoholic'">
                {{drink.isAlcoholic ? 'Alcoholic' : 'Non-Alcoholic'}}
            </p>
            <p> {{drink.ingredients | pipelineSeparator}}</p>
        </div>
    </div>   
    <span class="icon-star" [appToggleFavorite]="drink.id"></span>
</div>