.card-container {
display: flex;
flex-direction: row;
height: 400px; 
width: 1000px;
margin: 0 auto; 
}

.type-group, .ingredients-group, .instructions-group, .card-header {
    display: flex;
    flex-direction: row;
}

.type-group, .instructions-group  {
    align-items: baseline; 
}

.type-group h4, .ingredients-group h4, .instructions-group h4 {
    width: 100px;
    margin: 30px; 
    text-align: left;
    
}

.card-name{
    margin: 10px 30px 30px 30px; 
    text-align: left;  
}

.card-image{
overflow: hidden;
}

.card-content {
flex: 1; 
padding: 16px;
display: flex;
flex-direction: column;
justify-content: top;
width: 80px;
margin: 0 auto; 
}

.is-alcoholic, .non-alcoholic {
border-radius: 20px;
background-color: #705;
text-align: left;
color: white;
padding: 2px 10px;
align-items: baseline; 
margin: 0;
}

.non-alcoholic {
background-color: rgb(127, 196, 148);
}

.icon-star {
padding: 8px;
margin-right: 12px;
margin-top: 16px;
}

.back-container {
    justify-content: center;
    width: 100px; 
    background-color: #e6e6e6;
    cursor: pointer; 
    margin-bottom: 20px; 
    margin-left: calc((100% - 1000px) / 2); 
}

.back-container:hover {
    background-color: #c9c9c9; 
}

.back-content{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.back-text {
    display: flex;
    font-size: 1.2rem;
    font-weight: 400;
    align-items: baseline;

}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}
