@if (drink(); as drink) {
    <div class="card-container">
        <img [src]="drink.imageUrl" class="card-image" alt="{{drink.name}}"/>
        <div class="card-content">
            <div class="card-header">
                <h1 class="card-name">{{drink.name}}</h1>
                <span class="icon-star" [appToggleFavorite]="drink.id"></span>
            </div>
            <div class="card-details">   
                <div class="type-group">
                    <h4>Type:</h4>
                    <p [class]="drink.isAlcoholic ? 'is-alcoholic' : 'non-alcoholic'">
                        {{drink.isAlcoholic ? 'Alcoholic' : 'Non-Alcoholic'}}
                    </p>
                </div>
                <div class="ingredients-group">
                    <h4>Ingredients:</h4>
                    <ul>                        
                        @for (ingredient of drink.ingredients; track ingredient.indexOf; let idx = $index) {<li> {{drink.ingredients[idx]}}</li>}
                    </ul>
                </div>
                <div class="instructions-group">
                    <h4>Instructions:</h4>
                    <p> {{drink.instructions}} </p>
                </div>
            </div>
        </div>
    </div>           
}